name: PEGS Specs Generation

on:
    push:
        branches:
            - main
    pull_request:

jobs:
    generate-specs:
        runs-on: ubuntu-latest
        name: Generate PDF and HTML Specs

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Generate PEGS Specs
              uses: hugoglvs/pegs-specs-custom-action@main
              with:
                  requirements-path: "data/requirements.csv"
                  output-dir: "build"

            - name: Upload PDF Artifact
              uses: actions/upload-artifact@v4
              with:
                  name: full-specs-pdf
                  path: build/full-specs.pdf
                  retention-days: 14

            - name: Upload HTML Artifact
              uses: actions/upload-artifact@v4
              with:
                  name: full-specs-html
                  path: build/index.html
                  retention-days: 14
